## Imports

In [1]:
import numpy as np
import pandas as pd
import posixpath
from advanced_databases_project import data, preprocessing, DATA_PATH, OUTPUT_PATH

## Load CSV Data

In [2]:
filename = "aws_1hour.csv"
filepath = posixpath.join(DATA_PATH, filename)
data_df = data.load_data_csv(filepath)
data_df

Loading data from C:\Users\derar\Documents\Advanced Databases Project\Code\data/aws_1hour.csv..
Data loaded successfully

,air_pressure,air_temperature,relative_humidity,precipitation
timestamp,,,,
2003-12-01 00:00:00,987.84,8.32,96.37,1.20
2003-12-01 01:00:00,987.31,8.27,96.48,1.10
2003-12-01 02:00:00,986.98,8.35,96.90,0.50
2003-12-01 03:00:00,986.56,8.86,97.23,0.10
2003-12-01 04:00:00,986.25,9.69,95.93,0.10
...,...,...,...,...
2024-11-19 11:00:00,979.99,8.57,96.55,2.72
2024-11-19 12:00:00,980.17,8.42,94.12,0.48
2024-11-19 13:00:00,981.22,6.59,93.31,1.18
2024-11-19 14:00:00,982.19,5.11,93.40,0.99
2024-11-19 15:00:00,982.74,4.72,94.23,0.03

## Missing Values and Timestamps

### Missing Values

In [3]:
data_df.isna().sum()

air_pressure         19
air_temperature      23
relative_humidity    19
precipitation        19
dtype: int64

In [4]:
data_df = preprocessing.interpolate_missing_values(data_df)
data_df.isna().sum()

air_pressure         0
air_temperature      0
relative_humidity    0
precipitation        0
dtype: int64

### Missing Timestamps

In [5]:
start_date = data_df.index[0]
end_date = data_df.index[-1]
full_timestamps_df = pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq="1h"))
print(f"There are {full_timestamps_df.shape[0] - data_df.shape[0]} missing timestamps")

There are 115 missing timestamps

### Interpolate Missing Timestamps

In [6]:
data_df = preprocessing.interpolate_missing_timestamps(data_df, freq="1h")

In [7]:
data_df.isna().sum()

air_pressure         0
air_temperature      0
relative_humidity    0
precipitation        0
dtype: int64

## Save Data

In [8]:
filename = "preprocessed_aws_1hour.csv"
filepath = posixpath.join(OUTPUT_PATH, filename)
data.save_data(filepath, data_df)

Saving data to C:\Users\derar\Documents\Advanced Databases Project\Code\outputs/preprocessed_aws_1hour.csv..
Data has been saved successfully