## Imports

In [87]:
import numpy as np

## Load CSV Data

In [2]:
def load_csv_data(filepath):
    data_df = pd.read_csv(filepath)
    return data_df

filepath = "../data/aws_1hour.csv"
data_df = load_csv_data(filepath)

## Parse Data

In [59]:
parsed_data_df = data_df.drop(columns=["FID", "the_geom", "code", "qc_flags", "wind_speed"])  # Remove unnecessary columns (wind speed is removed since most of its values are nan)
parsed_data_df["timestamp"] = pd.to_datetime(parsed_data_df["timestamp"])  # Convert timestamps to timedate format
parsed_data_df.drop_duplicates("timestamp", inplace=True)
parsed_data_df = parsed_data_df.set_index("timestamp")  
parsed_data_df = parsed_data_df.sort_index()
parsed_data_df

,air_pressure,air_temperature,relative_humidity,precipitation
timestamp,,,,
2003-12-01 00:00:00,987.84,8.32,96.37,1.20
2003-12-01 01:00:00,987.31,8.27,96.48,1.10
2003-12-01 02:00:00,986.98,8.35,96.90,0.50
2003-12-01 03:00:00,986.56,8.86,97.23,0.10
2003-12-01 04:00:00,986.25,9.69,95.93,0.10
...,...,...,...,...
2024-11-19 11:00:00,979.99,8.57,96.55,2.72
2024-11-19 12:00:00,980.17,8.42,94.12,0.48
2024-11-19 13:00:00,981.22,6.59,93.31,1.18
2024-11-19 14:00:00,982.19,5.11,93.40,0.99
2024-11-19 15:00:00,982.74,4.72,94.23,0.03

## Missing Values

In [60]:
parsed_data_df.isna().sum()

air_pressure         19
air_temperature      23
relative_humidity    19
precipitation        19
dtype: int64

In [61]:
parsed_data_df.dropna(inplace=True)
parsed_data_df.isna().sum()

air_pressure         0
air_temperature      0
relative_humidity    0
precipitation        0
dtype: int64

## Missing Timestamps

In [63]:
start_date = parsed_data_df.index[0]
end_date = parsed_data_df.index[-1]
full_timestamps_df = pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq="1h"))
print(f"There are {full_timestamps_df.shape[0] - parsed_data_df.shape[0]} missing timestamps")

There are 147 missing timestamps

### Interpolate Missing Timestamps

In [74]:
full_timestamps_df.columns=["timestamp"]
full_timestamps_df.set_index("timestamp", inplace=True)
full_timestamps_df

Empty DataFrame
Columns: []
Index: [2003-12-01 00:00:00, 2003-12-01 01:00:00, 2003-12-01 02:00:00, 2003-12-01 03:00:00, 2003-12-01 04:00:00, 2003-12-01 05:00:00, 2003-12-01 06:00:00, 2003-12-01 07:00:00, 2003-12-01 08:00:00, 2003-12-01 09:00:00, 2003-12-01 10:00:00, 2003-12-01 11:00:00, 2003-12-01 12:00:00, 2003-12-01 13:00:00, 2003-12-01 14:00:00, 2003-12-01 15:00:00, 2003-12-01 16:00:00, 2003-12-01 17:00:00, 2003-12-01 18:00:00, 2003-12-01 19:00:00, 2003-12-01 20:00:00, 2003-12-01 21:00:00, 2003-12-01 22:00:00, 2003-12-01 23:00:00, 2003-12-02 00:00:00, 2003-12-02 01:00:00, 2003-12-02 02:00:00, 2003-12-02 03:00:00, 2003-12-02 04:00:00, 2003-12-02 05:00:00, 2003-12-02 06:00:00, 2003-12-02 07:00:00, 2003-12-02 08:00:00, 2003-12-02 09:00:00, 2003-12-02 10:00:00, 2003-12-02 11:00:00, 2003-12-02 12:00:00, 2003-12-02 13:00:00, 2003-12-02 14:00:00, 2003-12-02 15:00:00, 2003-12-02 16:00:00, 2003-12-02 17:00:00, 2003-12-02 18:00:00, 2003-12-02 19:00:00, 2003-12-02 20:00:00, 2003-12-02 21:00:00, 2003-12-02 22:00:00, 2003-12-02 23:00:00, 2003-12-03 00:00:00, 2003-12-03 01:00:00, 2003-12-03 02:00:00, 2003-12-03 03:00:00, 2003-12-03 04:00:00, 2003-12-03 05:00:00, 2003-12-03 06:00:00, 2003-12-03 07:00:00, 2003-12-03 08:00:00, 2003-12-03 09:00:00, 2003-12-03 10:00:00, 2003-12-03 11:00:00, 2003-12-03 12:00:00, 2003-12-03 13:00:00, 2003-12-03 14:00:00, 2003-12-03 15:00:00, 2003-12-03 16:00:00, 2003-12-03 17:00:00, 2003-12-03 18:00:00, 2003-12-03 19:00:00, 2003-12-03 20:00:00, 2003-12-03 21:00:00, 2003-12-03 22:00:00, 2003-12-03 23:00:00, 2003-12-04 00:00:00, 2003-12-04 01:00:00, 2003-12-04 02:00:00, 2003-12-04 03:00:00, 2003-12-04 04:00:00, 2003-12-04 05:00:00, 2003-12-04 06:00:00, 2003-12-04 07:00:00, 2003-12-04 08:00:00, 2003-12-04 09:00:00, 2003-12-04 10:00:00, 2003-12-04 11:00:00, 2003-12-04 12:00:00, 2003-12-04 13:00:00, 2003-12-04 14:00:00, 2003-12-04 15:00:00, 2003-12-04 16:00:00, 2003-12-04 17:00:00, 2003-12-04 18:00:00, 2003-12-04 19:00:00, 2003-12-04 20:00:00, 2003-12-04 21:00:00, 2003-12-04 22:00:00, 2003-12-04 23:00:00, 2003-12-05 00:00:00, 2003-12-05 01:00:00, 2003-12-05 02:00:00, 2003-12-05 03:00:00, ...]

[183832 rows x 0 columns]

In [112]:
parsed_data_df = parsed_data_df.join(full_timestamps_df, how="outer").interpolate()
parsed_data_df.isna().sum()

air_pressure         0
air_temperature      0
relative_humidity    0
precipitation        0
dtype: int64

In [113]:
parsed_data_df.to_csv("../data/preprocessed_aws_1hour.csv")

In [116]:
new_df = pd.read_csv("../data/preprocessed_aws_1hour.csv").set_index("timestamp")
new_df

,air_pressure,air_temperature,relative_humidity,precipitation
timestamp,,,,
2003-12-01 00:00:00,987.84,8.32,96.37,1.20
2003-12-01 01:00:00,987.31,8.27,96.48,1.10
2003-12-01 02:00:00,986.98,8.35,96.90,0.50
2003-12-01 03:00:00,986.56,8.86,97.23,0.10
2003-12-01 04:00:00,986.25,9.69,95.93,0.10
...,...,...,...,...
2024-11-19 11:00:00,979.99,8.57,96.55,2.72
2024-11-19 12:00:00,980.17,8.42,94.12,0.48
2024-11-19 13:00:00,981.22,6.59,93.31,1.18
2024-11-19 14:00:00,982.19,5.11,93.40,0.99
2024-11-19 15:00:00,982.74,4.72,94.23,0.03