## Imports

In [20]:
import numpy as np
import pandas as pd
import posixpath
import subprocess
from advanced_databases_project import data, preprocessing, DATA_PATH, OUTPUT_PATH, PROJECT_PATH, PROMETHEUS_PATH

## Load CSV Data

In [21]:
filename = "aws_1hour.csv"
filepath = posixpath.join(DATA_PATH, filename)
data_df = data.load_data_csv(filepath)
data_df

Loading data from c:\users\derar\documents\advanced_databases_project\code\data/aws_1hour.csv..
Data loaded successfully

,FID,the_geom,code,air_pressure,air_temperature,relative_humidity,precipitation,wind_speed,qc_flags
timestamp,,,,,,,,,
2003-12-01 00:00:00,aws_1hour.fid-4271eba_1934513b264_2f24,POINT (50.797 4.358),6447,987.84,8.32,96.37,1.20,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2003-12-01 01:00:00,aws_1hour.fid-4271eba_1934513b264_2f06,POINT (50.797 4.358),6447,987.31,8.27,96.48,1.10,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2003-12-01 02:00:00,aws_1hour.fid-4271eba_1934513b264_2f10,POINT (50.797 4.358),6447,986.98,8.35,96.90,0.50,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2003-12-01 03:00:00,aws_1hour.fid-4271eba_1934513b264_2f1d,POINT (50.797 4.358),6447,986.56,8.86,97.23,0.10,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2003-12-01 04:00:00,aws_1hour.fid-4271eba_1934513b264_2f13,POINT (50.797 4.358),6447,986.25,9.69,95.93,0.10,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
...,...,...,...,...,...,...,...,...,...
2024-11-19 11:00:00,aws_1hour.fid-4271eba_1934513b611_-3a9d,POINT (50.797 4.358),6447,979.99,8.57,96.55,2.72,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2024-11-19 12:00:00,aws_1hour.fid-4271eba_1934513b611_-3a9e,POINT (50.797 4.358),6447,980.17,8.42,94.12,0.48,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2024-11-19 13:00:00,aws_1hour.fid-4271eba_1934513b611_-3a8f,POINT (50.797 4.358),6447,981.22,6.59,93.31,1.18,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2024-11-19 14:00:00,aws_1hour.fid-4271eba_1934513b611_-3a8c,POINT (50.797 4.358),6447,982.19,5.11,93.40,0.99,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."
2024-11-19 15:00:00,aws_1hour.fid-4271eba_1934513b611_-3a89,POINT (50.797 4.358),6447,982.74,4.72,94.23,0.03,NaN,"{""validated"": {""air_pressure"":false,""air_tempe..."

In [22]:
data_df = pd.DataFrame(data_df["air_temperature"])
data_df.head(5)

                     air_temperature
timestamp
2003-12-01 00:00:00             8.32
2003-12-01 01:00:00             8.27
2003-12-01 02:00:00             8.35
2003-12-01 03:00:00             8.86
2003-12-01 04:00:00             9.69

## Missing Values and Timestamps

### Missing Values

In [23]:
data_df.tail(5)

                     air_temperature
timestamp
2024-11-19 11:00:00             8.57
2024-11-19 12:00:00             8.42
2024-11-19 13:00:00             6.59
2024-11-19 14:00:00             5.11
2024-11-19 15:00:00             4.72

In [24]:
data_df = preprocessing.interpolate_missing_values(data_df)
data_df.isna().sum()

air_temperature    0
dtype: int64

### Missing Timestamps

In [25]:
start_date = data_df.index[0]
end_date = data_df.index[-1]
full_timestamps_df = pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq="1h"))
print(f"There are {full_timestamps_df.shape[0] - data_df.shape[0]} missing timestamps")

There are 115 missing timestamps

### Interpolate Missing Timestamps

In [26]:
data_df = preprocessing.interpolate_missing_timestamps(data_df, freq="1h")

In [27]:
data_df.isna().sum()

air_temperature    0
dtype: int64

## Duplicate Data

In [61]:
start_date = "1910-01-01 00:00:00"
end_date = data_df.index[-1]
full_timestamps_df = pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq="1h"))
full_timestamps_df.columns = ["timestamp"]
full_timestamps_df = full_timestamps_df.head(1000000).set_index("timestamp")
air_temp = np.concatenate([data_df.to_numpy()]*6)[0:1000000]
full_timestamps_df.insert(0, "air_temperature", air_temp)
full_timestamps_df

                     air_temperature
timestamp
1910-01-01 00:00:00             8.32
1910-01-01 01:00:00             8.27
1910-01-01 02:00:00             8.35
1910-01-01 03:00:00             8.86
1910-01-01 04:00:00             9.69
...                              ...
2024-01-29 11:00:00            -1.67
2024-01-29 12:00:00            -1.21
2024-01-29 13:00:00            -0.50
2024-01-29 14:00:00            -0.10
2024-01-29 15:00:00             0.18

[1000000 rows x 1 columns]

## Save Data

In [62]:
filename = "preprocessed_aws_1hour.csv"
filepath = posixpath.join(OUTPUT_PATH, filename)
data.save_data(filepath, data_df)

Saving data to c:\users\derar\documents\advanced_databases_project\code\outputs/preprocessed_aws_1hour.csv..
Data has been saved successfully